body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  opacity: 0.8;
}

/* SECTIONS */
.section {
  padding: 70px 15%;
  text-align: center;
}

/* ABOUT CLEAN */
.about-container p {
  max-width: 800px;
  margin: 15px auto;
  line-height: 1.8;
  font-size: 16px;
  color: #e2e8f0;
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.skill {
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* CONTACT */
.contact-box {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .section {
    padding: 50px 20px;
  }

  .skills,
  .projects {
    grid-template-columns: 1fr;
  }

  .menu {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    right: 0;
    top: 60px;
    padding: 15px;
  }

  .menu.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}